* {
    margin: 0;
    padding: 0;
}

@import './variables/vem';
@import './secciones/index';
@import './secciones/classics';
@import'./secciones/galeria';
@import'./secciones/conciertos';
@import'./secciones/nosotros';

body {
    background-image: url('https://torange.biz/photofxnew/201/HD/background-triangles-geometrical-abstract-red-polygon-dollars-201840.jpg');
    background-size: cover;
    background-position: center center;
    max-width: 1791px;
    overflow-x: hidden;
    max-width: 1810px;
}

.nav {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    max-height: 1000px;

}

.imglogo {
    height: 150px;
    width: 150px;

    &:hover {
        transform: rotateZ(360deg);
        transition: 3s;
    }
}

.navs {
    margin: 54px;
}

.ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.ul a {
    padding: 40px;
    background-color: dimgrey;
    text-decoration: none;
    font-family: 'Bangers', cursive;
    @extend %whiteSmokecolor;

    &:hover {
        background-color: rgb(44, 44, 44);
    }
}

footer {
    width: 100%;
    position: absolute;
    background-color: black;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    height: 80px;
    margin-bottom: 1rem;

    &:hover {
        @extend %mousePointer;
    }
}

.social-icons-container,
.footer-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icon {
    height: 50px;
    width: 50px;
    border: radius 50px;
    border: 1px solid pink;
    background-image: url('https://www.pngfind.com/pngs/m/26-262399_png-file-svg-icono-facebook-png-blanco-transparent.png');
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;

}

.social-icon:hover {
    background-color: blue;
    filter: invert(1);
}

.social-icon:nth-of-type(2) {
    background-image: url('https://w7.pngwing.com/pngs/55/510/png-transparent-bird-logo-euclidean-icon-twitter-background-computer-wallpaper-social-media-silhouette-thumbnail.png');
}

.social-icon:nth-of-type(3) {
    background-image: url('https://w7.pngwing.com/pngs/343/766/png-transparent-logo-computer-icons-white-instagram-logo-desktop-wallpaper-spot-color.png');
}

.footer-menu-container {
    list-style-type: none;
    color: white;
    font-size: 18px;
}

.menu-item {
    margin: 1rem 1.5rem;
    @extend %mousePointer;
    opacity: 0.6;
    font-family: 'Bangers', cursive;

    &:hover {
        opacity: 1;
    }
}

.copyright {
    @extend %whiteSmokecolor;
    font-family: 'Bangers', cursive;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .nav {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;


    }

    .imglogo {
        height: 150px;
        width: 150px;

        &:hover {
            transform: rotateZ(360deg);
            transition: 3s;
        }
    }

    .navs {}

    .ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
    }

    .ul a {
        padding: 10px;
        background-color: dimgrey;
        text-decoration: none;
        font-family: 'Bangers', cursive;
        color: whitesmoke;

        &:hover {
            background-color: rgb(44, 44, 44);
        }
    }

    /* INDEX */
    .headerrl {
        font-size: 40px;
        transform: translate(0px);
        display: inline;
    }

    .ul {
        display: none;
    }

    /* GALERIA */
    .h2galeria {
        font-size: 80px;
        display: block;
        text-align: start;
        transform: translate(360px);
    }

    .contimggal {
        display: inline;
    }

    .contimggal img {
        width: 210px;
        height: 210px;
    }

    /* NOSOTROS */
    .headern {
        transform: translate(60px);
    }

    /* contacto */
    .mainform {
        transform: translate(210px);
        display: flex;
        flex-wrap: wrap;
    }

    .h2contacto {
        display: none;
    }

    /* conciertos-ya tiene */

}

@media screen and (max-width: 800px) {

    .nav {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;


    }

    .imglogo {
        height: 150px;
        width: 150px;

        &:hover {
            transform: rotateZ(360deg);
            transition: 3s;
        }
    }

    .navs {}

    .ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
    }

    .ul a {
        padding: 10px;
        background-color: dimgrey;
        text-decoration: none;
        font-family: 'Bangers', cursive;
        color: whitesmoke;

        &:hover {
            background-color: rgb(44, 44, 44);
        }
    }

    // }
    /* INDEX */
    .headerrl {
        font-size: 30px;
        transform: translate(0px);
        display: inline;
    }

    /* GALERIA */
    .h2galeria {
        font-size: 60px;
        display: block;
        text-align: start;
        transform: translate(90px);
    }

    .contimggal {
        display: inline;
    }

    .contimggal img {
        width: 200px;
        height: 200px;
    }

    /* NOSOTROS */
    .headern {
        transform: translate(80px);
        text-align: start;
    }

    .contenedorn {
        display: flex;
        flex-wrap: wrap;
    }

    /* CONTACTO */
    .mainform {
        transform: translate(-20px);
        display: flex;
        flex-wrap: wrap;
    }

    .form {
        margin: 30px;
        height: 350px;
        width: 310px;
    }

    .h2contacto {
        font-family: 'Bangers', cursive;
        font-size: 40px;
        display: inline-block;
        text-align: start;
        padding: 50px;
        // width: 800px;
        color: whitesmoke;
        transform: translate(100px);

        &:hover {
            cursor: pointer;
            color: black;
            text-decoration: line-through;
        }

    }

    /* conciertos-ya tiene */


}